
<style>
#platzhalter {
	
}
#logo{
  width: 30%; 
  height: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}

#standardbox{
    width: 30%;
    padding: 1,5% 2%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	text-align: center;

 }
#Login, #Registrieren, #Username {
	display: block;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
}

#textzentriert, #Anlegen, #BackToLogin{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#Registrieren_Textfeld{
	
	font-family:'sans-serif';
	font-weight: bold;	
	font-size: 25px;
	
	display: block;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
}

#textfeld_geburtstag, #textfeld_erstaufnahme {
	
	width: 30%;
    padding: 1,5% 2%;
	
	display: block;
    margin-left: auto;
    margin-right: auto;
	
	
}
#BerufeBilder
{
  width: 40%; 
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}
#falsch
{
	color:green;
	
}

body {
	
    background-color: lightblue;
	
}
</style>
