<style>
#platzhalter {
	
}

#logo{
	
  width: 30%; 
  height: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;

}

#standardbox{
    width: 30%;
    padding: 1,5% 2%;
	display: block;
    margin-left: auto;
    margin-right: auto;

 }
#Login, #Registrieren, #Username {
	display: block;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
}
#textzentriert{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#Registrieren_Textfeld{
	
	
	font-family:'sans-serif';
	font-weight: bold;	
	font-size: 15px;
	
	display: block;
    margin-left: 50%;
    margin-right: 50%;
	
	
}


body {
	  background-color: #add8e6;
	}


</style>