<style>
#platzhalter {
	
}

#logo{
	
  width: 30%; 
  height: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;

}

#standardbox{
    width: 30%;
    padding: 1,5% 2%;
	display: block;
    margin-left: auto;
    margin-right: auto;



 }
#Login, #Registrieren, #Username {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#textzentriert{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
	  background-color: #ff6347;
	}


</style>